<div class="ui card mb-20">
  <div class="content fixHeight">
    <ngx-avatar class="my-avatar" class="right" [style]="{
          background: color,
          border: '1px solid #fff',
          borderRadius: '50%',
          color: 'white',
          fontWeight: 'bold',
          fontFamily: 'inherit',
          lineHeight: '54px'}" [size]="56" initialsSize="1" [textSizeRatio]="2" name="{{data.name}} ">
    </ngx-avatar>
    <div class="header">
      {{data.name | titlecase}}
    </div>
    <div *ngIf="data.isApproved" class="meta">
      Joined in {{data?.startDate | date:'yyyy'}}
    </div>
    <div *ngIf="!data.isApproved" class="meta">
      New Member
    </div>
    <div class="description">
      {{data.role}}
    </div>
  </div>
  <div class="extra content">
    <div *ngIf="!data.isApproved" class="ui two buttons">
      <div class="ui basic green button"  (click)="onAction(data,{Approve: true})" >Approve</div>
      <div class="ui basic red button"  (click)="onAction(data,{Decline: true})" >Decline</div>
    </div>
    <div *ngIf="data.isApproved">
      <div class="ui basic blue button"  (click)="onAction(data,{View: true})" >More Info</div>
    </div>
  </div>
</div>