<div class="ui card mb-20">
  <div class="content fixHeight">
    <ngx-avatar class="my-avatar" class="right" [style]="{
          background: color,
          border: '1px solid #fff',
          borderRadius: '50%',
          color: 'white',
          fontWeight: 'bold',
          fontFamily: 'inherit',
          lineHeight: '48px'}" [size]="50" initialsSize="1" [textSizeRatio]="2" name="{{data.name}} ">
    </ngx-avatar>
    <div class="header">
      {{data.name | titlecase}}
    </div>
    <div *ngIf="data.isActive" class="meta">
      Since {{data?.startDate | timeAgo}}
    </div>
    <div *ngIf="!data.isActive" class="meta">
      New Member
    </div>
    <div class="description">
      {{data.role}}
    </div>
  </div>
  <div class="extra content">
    <div *ngIf="permissionService.permissionAvailable" appPermission [permission]="approveEmployee">
      <div class="ui two buttons" *ngIf="!data?.isApproved">
        <div class="ui basic green button" (click)="onAction(data,{Approve: true})">
          {{resourceService?.frmelmnts?.btn?.approve}}</div>
        <div class="ui basic red button" (click)="onAction(data,{Decline: true})">
          {{resourceService?.frmelmnts?.btn?.decline}}</div>
      </div>
      <div *ngIf="data?.isApproved">
        <div class="ui basic blue button" (click)="onAction(data,{View: true})">
          {{resourceService?.frmelmnts?.btn?.viewProfile}}</div>
      </div>
    </div>
    <div *ngIf="enableViewProfile">
      <div class="ui basic blue button" (click)="onAction(data,{View: true})">
        {{resourceService?.frmelmnts?.btn?.viewProfile}}</div>
    </div>
  </div>
</div>