<div class="ui container mt-20">
  <div class="ui small breadcrumb">
    <a class="section" routerLink=''>{{resourceService?.frmelmnts?.btn?.home}}</a>
    <i class="right chevron icon divider"></i>
    <div class="active section">{{resourceService?.frmelmnts?.btn?.adminConsole}}</div>
  </div>
</div>
<div class="ui container py-20 m-20 tac">
  <div class="ui small ui action input primary-search-input" id="search-input-container">
    <input type="text" id="keyword" name="filter_search" title="Search"
      placeholder="{{resourceService.frmelmnts?.btn?.SearchIn}}" class="searchinput" [(ngModel)]="key"
      (keyup.enter)="onEnter(key)" />
    <button class="ui icon button">
      <i class="search large text-secondary icon primary-search-icon" (click)="onEnter(key)"></i>
    </button>
  </div>
</div>
<div class="ui container py-20 ">
  <div class="ui grid">
    <div class="two wide column">
      <app-data-filter  (dataDrivenFilter)="getFilters($event)"
        [ignoreQuery]="['key']" *ngIf="initFilters" [accordionDefaultOpen]=true
        [isShowFilterLabel]=true></app-data-filter>
    </div>
    <div class="ten wide column">
      <div class="ui grid mt-5" >
        <div *ngFor="let content of listOfEmployees">
          <app-card [data]="content" (clickEvent)="navigateToProfilePage($event)" [data]="content" class="d-block"
            [class.last-card]="mr-0">
          </app-card>
        </div>
      </div>

    </div>

  </div>

</div>