apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-config
  namespace: {{ .Release.Namespace }}
data:
  DB_ADDR: {{.Values.global.database.host | quote}}
  DB_DATABASE: {{.Values.global.keycloak.database | quote}}
  DB_PORT: {{.Values.global.database.port | quote}}
  DB_USER: {{.Values.global.database.user | quote}}
  DB_VENDOR: {{.Values.global.database.vendor | quote}}
  KEYCLOAK_USER: {{.Values.global.keycloak.admin.username | quote}}
  PROXY_ADDRESS_FORWARDING: {{.Values.global.keycloak.proxy_forwarding | quote}}
  connectionInfo_uri: jdbc:postgresql://{{.Values.global.database.host}}:{{.Values.global.database.port}}/{{.Values.global.registry.database}}
  connectionInfo_username: {{.Values.global.database.user | quote}}
  elastic_search_connection_url: {{.Values.global.elastic_search.url | quote}}
  elastic_search_auth_enabled: {{.Values.global.elastic_search.auth_enabled | quote}}
  elastic_search_username: {{.Values.global.elastic_search.username | quote}}
  search_providerName: {{.Values.global.registry.search_provider | quote}}
  sunbird_sso_realm: {{.Values.global.registry.sso.realm | quote}}
  sunbird_sso_url: http://{{ .Release.Name }}-keycloak-service:8080/auth
  sunbird_sso_admin_client_id: {{.Values.global.registry.sso.admin_client_id | quote}}
  sunbird_sso_client_id: {{.Values.global.registry.sso.client_id | quote}}
  claims_url: http://{{ .Release.Name }}-claim-ms:8082
  sign_url: http://{{ .Release.Name }}-certificate-signer:8079/sign
  verify_url: http://{{ .Release.Name }}-certificate-signer:8079/verify
  sign_health_check_url: http://{{ .Release.Name }}-certificate-signer:8079/health
  signature_enabled: {{.Values.global.registry.signature_enabled | quote}}
  pdf_url: http://{{ .Release.Name }}-certificate-api:8078/api/v1/certificatePDF
  certificate_health_check_url: http://{{ .Release.Name }}-certificate-api:8078/health
  template_base_url: http://{{ .Release.Name }}-registry:8081/api/v1/templates/ #Looks for certificate templates for pdf copy of the signed certificate
  sunbird_keycloak_user_set_password: {{.Values.global.registry.keycloak_user_set_password | quote}}
  filestorage_connection_url: {{.Values.global.minio.url | quote}}
  filestorage_access_key: {{.Values.global.minio.access_key | quote}}
  filestorage_bucket_key: {{.Values.global.minio.bucket_key | quote}}
  registry_base_apis_enable: {{.Values.global.registry.base_apis_enabled | quote}}
  logging.level.root: {{.Values.global.registry.log_level | quote}}
  enable_external_templates: {{.Values.global.registry.enable_external_templates | quote}}
  async_enabled: {{.Values.global.registry.enable_async | quote}}
  authentication_enabled: {{.Values.global.registry.enable_authentication | quote}}
  kafka_bootstrap_address: {{.Values.global.kafka.url | quote}}
  webhook_enabled: {{.Values.global.registry.enable_webhook | quote}}
  webhook_url: {{.Values.global.registry.webhook_url | quote}}
  redis_host: {{.Values.global.redis.host | quote}}
  redis_port: {{.Values.global.redis.port | quote}}
  manager_type: {{.Values.global.registry.manager_type | quote}}
  sunbirdrc_url: http://{{ .Release.Name }}-registry:8081

