dump.json
.DS_Store

.project
.classpath
.vscode

.setupVars.sh

node_modules
.idea
*.iml
.idea_modules

.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

logs
*.log

target

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# PyDev specific (Python IDE for Eclipse)
*.pydevproject

# CDT-specific (C/C++ Development Tooling)
.cproject

# CDT- autotools 
.autotools

# Java annotation processor (APT)
.factorypath

# PDT-specific (PHP Development Tools)
.buildpath

# sbteclipse plugin
.target

# Tern plugin
.tern-project

# TeXlipse plugin
.texlipse

# STS (Spring Tool Suite)
.springBeans

# Code Recommenders
.recommenders/

# Scala IDE specific (Scala & Java development for Eclipse)
.cache-main
.scala_dependencies
.worksheet

# Properties
config-*.properties

# Json-LD
schema-configuration.jsonld
schema-configuration-school-test.jsonld

# Shex file
validations.shex
validations_create.shex
validations_update.shex

.clinic
coverage
out

.ipynb_checkpoints
db-data
keycloak-mobile*.jar