<div class="ui container mt-20 mb-20 py-20 ">
  <div class="ui stackable grid flex-jc-center">
      <div class="ui stackable cards">
          <div class="ui card">
            
              <div class="content card-opacity">
                  <img src="../../../assets/images/teacher.jpg"  style="height: 20rem; width: 26rem">
                  <h5 class="card-title" >As a teacher</h5>
                  <div class="description">
                      <!-- <p class="card-text"> -->
                          <ul align="left"> 
                              <li > I ensure my data is correct. </li>
                              <li > I become discoverable. </li>
                              <li> I help build my micro-community. </li>
                          </ul>
                      <!-- </p> -->
                  </div>
              </div>
          </div>
          <div class="ui card">
            
              <div class="content card-opacity">
                  <img src="../../../assets/images/institute.jpg"  style="height: 20rem; width: 26rem">
                  <h5 class="card-title" >As a state</h5>
                  <div class="description">
                      <!-- <p class="card-text"> -->
                          <li> I want to improve my education. </li>
                          <li > I want to identify skills and demand for the country's future. </li>
                          <li > I want to help create self-sustaining, self-run communities.  </li>
                      <!-- </p> -->
                  </div>
              </div>
          </div>
        </div>
  </div>
