
.ui .card {
        box-shadow: 0 0.25rem 0.75rem rgba(65, 58, 58, 0.42);
}

.card-title {
    padding: 0 0 1em 1em;
    font-weight: bold;
    font-size: 1.25em;

}

.ui.vertical.stripe p {
    font-size: 1.33em;
}

.ui.vertical.stripe{
    margin-bottom: 2rem;
    margin-top: 2rem;
}