<div class="ui container mt-20 mb-20 py-20 ">
  <div class="ui stackable grid flex-jc-center">
      <div class="ui stackable cards">
          <div class="ui card">
            
              <div class="content card-opacity">
                  <h5 class="card-title">Access to learning opportunities for every child</h5>
                        <p class="card-text">
                            The lack of access to learning opportunities is a complex and multidimensional problem. It impacts the lives of millions of children on a daily basis. In response, Nandan Nilekani, Rohini Nilekani and Shankar Maruwada co-founded EkStep, a not-for-profit initiative to gather partners on a universal, collaborative platform to reimagine learning opportunities for every child.
                        </p> 
                  </div>
              </div>
          </div>
          <!--<div class="ui card">
            
              <div class="content card-opacity">
                   <img src="../../../assets/images/institute.jpg"  style="height: 20rem; width: 26rem">
                  <h5 class="card-title" >As a state</h5>
                  <div class="description">
                        <p class="card-text">
                          <li> I want to improve my education. </li>
                          <li > I want to identify skills and demand for the country's future. </li>
                          <li > I want to help create self-sustaining, self-run communities.  </li>
                        </p>
                  </div> 
              </div>
          </div>-->
        </div>
  </div>
