{
	"@context": 
	{
		"rdf": "http://www.w3.org/1999/02/22-rdf-syntax-ns#",
		"rdfs": "http://www.w3.org/2000/01/rdf-schema#",
		"opensaber": "http://example.com/voc/opensaber/1.0.0/",
		"xsd": "http://www.w3.org/2001/XMLSchema#",
		"teacher": "http://example.com/voc/teacher/1.0.0/"
	},

	"@id": "opensaber:fa7740c185fb247729c7296c36b5c1257b1",
	"@type": "opensaber:Registry",
	"teacher:privateFields": ["teacher:nationalIdentifier","teacher:teacherCode","teacher:birthDate"]
	
}