spring:
  profiles.active: dev
---
##################################################################
#                      DEVELOPMENT PROFILE                       #
##################################################################
spring:
  profiles: dev
  output:
    ansi:
      enabled: ALWAYS
name: dev-yaml
enviroment: development

perf:
  monitoring:
    enabled: ${perf_monitoring_enabled:true}

registry:
  context:
    base: ${registry_context_base:http://localhost:8080/}
  system:
    base: ${registry_system_base:http://localhost:8080/opensaber/}

#This refers to the opensaber schema configuration JSON-LD file
config:
  schema:
    file: ${config_schema_file:schema-configuration.jsonld}

database:
  provider: ${database_provider:NEO4J}
  neo4j:
    embedded: ${database_embedded:true}
    # Set an environment variable NEO4J_HOST if running Neo4J as a standalone host
    # This variable is set from the docker-compose.yml with the Neo4J service name
    host: ${database_host:localhost}
    port: ${database_port:7687}
    database_directory: ${database_directory:/data/databases/graph.db}

##################################################################################
# Uncomment the following section to use Cassandra as backend store              #
##################################################################################
#  janus_cassandra:
#    graphFactory: org.janusgraph.core.JanusGraphFactory
#    storage.backend: "cassandrathrift"
#    storage.hostname: ${cassandra_host:localhost}
#    storage.keyspace: ${cassandra_keyspace:registry_db}
#    db.cache.size: ${cassandra_db_cache_size:0.25}
#    # wait time in milliseconds to clean the cache
#    db.cache.clean.wait: ${cassandra_db_cache_clean_wait:60}
#    index:
#      storage.backend: ${cassandr_index_storage:elasticsearch}
#      hostname: ${cassandra_index_hostname:localhost}

# RDF Validation Config
validations:
  create:
    file: ${validations_create_file:validations_create.shex}
  update:
    file: ${validations_update_file:validations_update.shex}
    
signature:
  schema:
    config:
      name: SignatureShape
    
# File for framing the entity while reading
frame:
  file: ${frame_file:frame.json}

encryption:
  enabled: ${encryption_enabled:true}
  base: ${encryption_base:https://dev.open-sunbird.org/encryption/}
  uri: ${encryption_uri:https://dev.open-sunbird.org/encryption/encrypt}
  batch:
    uri: ${encryption_batch_uri:https://dev.open-sunbird.org/encryption/encrypt/obj}
  service:
    connection:
      timeout: ${encryption_service_connection_timeout:5000}
      request:
        timeout: ${encryption_service_connection_request_timeout:5000}
    read:
      timeout: ${encryption_service_read_timeout:5000}

decryption:
  uri: ${decryption_uri:https://dev.open-sunbird.org/encryption/decrypt}
  batch:
    uri: ${decryption_batch_uri:https://dev.open-sunbird.org/encryption/decrypt/obj}

signature:
  enabled: ${signature_enabled:true}
  healthCheckURL: ${sign_health_check_url:http://localhost:8013/}
  signURL: ${sign_url:http://localhost:8013/sign}
  verifyURL: ${verify_url:http://localhost:8013/verify}
  keysURL: ${keys_url:http://localhost:8013/keys}

audit:
  enabled: ${audit_enabled:false}
  frame:
    file: ${audit_frame_file:audit_frame.json}

authentication:
  enabled: ${authentication_enabled:true}

keycloak:
  sso:
    publicKey:  ${sunbird_sso_publickey}
    realm:  ${sunbird_sso_realm}
    auth_server_url:  ${sunbird_sso_url}

---
##################################################################
#                      TEST PROFILE                              #
##################################################################
spring:
  profiles: test
  output:
    ansi:
      enabled: ALWAYS
name: test-yaml
enviroment: test

perf:
  monitoring:
    enabled: false

registry:
  context:
    base: http://example.com/voc/teacher/1.0.0/
  system:
    base: http://example.com/voc/opensaber/

#This refers to the opensaber schema configuration JSON-LD file
config:
  schema:
    file: schema-configuration-school-test.jsonld

database:
  provider: TINKERGRAPH

# RDF Validation Config
validations:
  create:
    file: good1.shex
  update:
    file: good1.shex
    
signature:
  schema:
    config:
      name: SignatureShape

# File for framing the entity while reading
frame:
  file: frame.json

encryption:
  enabled: true
  base: https://dev.open-sunbird.org/encryption/
  uri: https://dev.open-sunbird.org/encryption/encrypt
  batch:
    uri: https://dev.open-sunbird.org/encryption/encrypt/obj
  service:
    connection:
      timeout: ${encryption_service_connection_timeout:5000}
      request:
        timeout: ${encryption_service_connection_request_timeout:5000}
    read:
      timeout: ${encryption_service_read_timeout:5000}

decryption:
  uri: https://dev.open-sunbird.org/encryption/decrypt
  batch:
    uri: https://dev.open-sunbird.org/encryption/decrypt/obj

signature:
  enabled: ${signature_enabled:true}
  healthCheckURL: ${sign_health_check_url:http://localhost:8013/}
  signURL: ${sign_url:http://localhost:8013/sign}
  verifyURL: ${verify_url:http://localhost:8013/verify}
  keysURL: ${keys_url:http://localhost:8013/keys}

audit:
  enabled: false
  frame:
    file: audit_frame.json

authentication:
  enabled: true

keycloak:
  sso:
    publicKey:  ${sunbird_sso_publickey}
    realm:  ${sunbird_sso_realm}
    auth_server_url:  ${sunbird_sso_url}
