registry.context.base=http://example.com/voc/teacher/1.0.0/
validations.file=good1.shex
subject.label.type=${registry.context.base}School
database.provider=TINKERGRAPH
config.schema.file=schema-configuration-school-test.jsonld

connection.timeout= 5000
connection.request.timeout= 5000
read.timeout= 5000

##############################################################
#              Encryption/Decryption Configuration           #
##############################################################
#Encryption and decryption urls
encryption.decryption.base=https://dev.open-sunbird.org/encryption/
encryption.uri= ${encryption.decryption.base}encrypt
decryption.uri= ${encryption.decryption.base}decrypt
sunbird.encryption-service.health.check=https://test-enc-service-health-check.com/encryption/
