<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/registry-app.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>logFile.%d{yyyy-MM-dd}.log</fileNamePattern>

            <!-- keep 10 days' worth of history -->
            <maxHistory>10</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="PERF_FILE_OUT" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/performance_instrumentation.log</file>
        <append>true</append>
        <immediateFlush>true</immediateFlush>
        <encoder>
            # Pattern of log message for file appender
            <!--<pattern>%d{yyyy-MM-dd HH:mm:ss} %-5p %m%n</pattern>-->
             <pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>
    
    <appender name="RegistryAuditAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>logs/registry_neo4j.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
      		<fileNamePattern>logs/registry_neo4j-%d{MM-dd-yyyy-hh}-%i.log</fileNamePattern>
      		<minIndex>1</minIndex>
      		<maxIndex>10</maxIndex>
    	</rollingPolicy>

		<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<maxFileSize>250MB</maxFileSize>
		</triggeringPolicy>
		
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>
				%d %msg%n
			</Pattern>
		</encoder>
	</appender>

    <logger name="io.opensaber.validators.shex.shaclex" level="ERROR"/>
    <logger name="es.weso" level="ERROR"/>
    <logger name="io.opensaber.utils.converters" level="ERROR"/>
    <logger name="io.opensaber.registry.dao.impl.RegistryDaoImpl" level="ERROR"/>
    <logger name="org.springframework" level="ERROR"/>
    <logger name="PERFORMANCE_INSTRUMENTATION" level="TRACE" additivity="false">
        <appender-ref ref="PERF_FILE_OUT"/>
    </logger>
    <logger name="GraphEventLogger" level="DEBUG" additivity="false">
    	<appender-ref ref="RegistryAuditAppender"/>
    </logger>

    <root level="info" additivity="false">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </root>
    
</configuration>