<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/registry-app.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>logFile.%d{yyyy-MM-dd}.log</fileNamePattern>

            <!-- keep 10 days' worth of history -->
            <maxHistory>10</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>

    <!--
    <appender name="PERF_FILE_OUT" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/performance_instrumentation.log</file>
        <append>true</append>
        <immediateFlush>true</immediateFlush>
        <encoder>
            # Pattern of log message for file appender
             <pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>
    -->
    
    <appender name="RegistryAuditAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>logs/registry_neo4j.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
      		<fileNamePattern>logFile.%d{yyyy-MM-dd-hh}-%i.log</fileNamePattern>
      		<minIndex>1</minIndex>
      		<maxIndex>10</maxIndex>
    	</rollingPolicy>

		<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<maxFileSize>10MB</maxFileSize>
		</triggeringPolicy>
		
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>
				%d %msg%n
			</Pattern>
		</encoder>
	</appender>


    <appender name="Perf4jFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>logs/registry_perf_instrumentation.log</File>
        <encoder>
            <!-- <Pattern>%date %-5level [%thread] %logger{36} [%file:%line] %msg%n -->
            <Pattern>%date %-5level %msg%n
            </Pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>logs/registry_perf_instrumentation.%d{yyyy-MM-dd}.log</FileNamePattern>
        </rollingPolicy>
    </appender>

    <!--
    <appender name="Perf4JConsoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>debug</level>
        </filter>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%date %-5level %logger{36} %msg%n
            </pattern>
        </layout>
    </appender>
    -->

    <appender name="CoalescingStatistics" class="org.perf4j.logback.AsyncCoalescingStatisticsAppender">
        <param name="TimeSlice" value="600000"/>
        <appender-ref ref="Perf4jFileAppender"/>
        <!-- <appender-ref ref="Perf4JConsoleAppender"/> -->
    </appender>

    <!-- Loggers -->
    <!-- The Perf4J logger. Note that org.perf4j.TimingLogger is the value of
        the org.perf4j.StopWatch.DEFAULT_LOGGER_NAME constant. Also, note that additivity
        is set to false, which is usually what is desired - this means that timing
        statements will only be sent to this logger and NOT to upstream loggers. -->
    <logger name="org.perf4j.TimingLogger" level="DEBUG" additivity="FALSE">
        <appender-ref ref="CoalescingStatistics"/>
        <appender-ref ref="Perf4jFileAppender"/>
        <!-- <appender-ref ref="Perf4JConsoleAppender"/> -->
    </logger>

    <logger name="io.opensaber.validators.shex.shaclex" level="ERROR"/>
    <logger name="es.weso" level="ERROR"/>
    <logger name="io.opensaber.utils.converters" level="ERROR"/>
    <logger name="io.opensaber.registry.dao.impl.RegistryDaoImpl" level="ERROR"/>
    <logger name="org.springframework" level="ERROR"/>
    <!--
    <logger name="PERFORMANCE_INSTRUMENTATION" level="TRACE" additivity="false">
        <appender-ref ref="PERF_FILE_OUT"/>
    </logger>
    -->
    <logger name="GraphEventLogger" level="DEBUG" additivity="FALSE">
    	<appender-ref ref="RegistryAuditAppender"/>
    </logger>

    <root level="INFO" additivity="FALSE">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </root>
    
</configuration>